body,html{
    margin:0;
}
 body, p {
    font-family: 'Poppins', sans-serif;
}
a:link, a:visited, a:hover, a:active{
    text-decoration:none;
}

div#sub-navbarNav {
    background: #000000;
}
 p {
     margin-top: 24px;  
}
 body.case-study{
    background:#f4f9f9;
}
 html {
     scroll-behavior: smooth;
}
 h1 {
     text-align: center;
     font-size: 64px;
     font-weight: 200;
    /* padding: 16px 0 0 0;
     */
     margin: 56px 0 40px 0;
}
 h4 {
     text-transform: uppercase;
     font-weight: 300;
     margin-top: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 1em;
}

 .navListItems a{
     color:#fff;
}
 .pageWrapper3 h1 {
     margin: 0;
     line-height: 56px;
}
 .pageWrapper3{
    background:#EEB4A2;
}
 .bg-dark {
     background-color: rgba(0,0,0,0.85)!important;
}
 .pageWrapper3 p {
     text-align: center;
     font-size: 24px;
     max-width: 800px;
     margin: 1em auto;
}
 h5 {
     font-size: 19px;
     margin: 0;
    /* display: inline-block;
     */
 }


 a.embed_documentation_footer--documentationFooter--pnTqy {
    display: none!important;
}

ul.socialNavLinks a.nav-link img {

    width: 26px;
}
ul.socialNavLinks {
    display: flex;
}
ul.socialNavLinks li {
    padding:0;
}

#navbarSupportedContent ul li {
    margin-bottom: 1em;
}


 section.artWork {
     display: flex;
     justify-content: space-between;
     margin: auto;
     width: 95%;
}
 .artBlock1 img {
     width: 95%;
     border-radius: 15px;
}
 .navbar {
     padding: .75rem 1rem!important;
}

nav#subMenu {
    padding: 0.15rem 1rem!important;
    box-sizing: border-box;
    margin: auto;
    display: block;
}

.case-study-upperBlock-block-stepsBlock img{
    margin: 3em 0 3em 0;
}

 a.nav-link{
     padding: 0 2.5em 0 0;
}
 a {
     text-decoration: none;
}
 a.nav-link {
     text-transform: uppercase;
     color: #f1f1f1;
     transition: all .25s ease-in;
}
 ul{
     list-style-type: none;
}
 .navbar-dark .navbar-nav .nav-link {
     color: #fff!important;
}
 button, button#insights {
     background: #FF6161;
     border: none;
     border-radius: 8px;
     padding: 8px 16px 8px 16px;
     min-width: 200px;
     color: #fff;
     font-weight: 600;
     font-family: 'Poppins';
     font-size: 16px;
     max-width: 300px;
}
 button:hover{
     background: #dd1e1e;
     transition: all, ease-in-out .25s;
}
 nav#mainNav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #333;
     padding: 16px 0 16px 0;
     box-sizing: border-box;
     position: fixed;
     width: 100%;
     z-index: 1000;
}
 ul.navListItems {
     display: flex;
     align-items: center;
     justify-content: space-around;
}
 ul.navListItems li {
     list-style-type: none;
     padding: 0 2.75em 0 0;
     text-transform: uppercase;
     color:#fff;
}
 img.logo {
     width: 18%;
     height: 100%;
}
 ul.socialMedia {
     display: flex;
     justify-content: space-evenly;
     margin-bottom: 0;
}
 .socialMedia img {
     width: 24px;
     margin: 0 16px 0 0;
}
 h1.headerBody {
     display: flex;
     justify-content: flex-start;
     margin: auto;
     align-items: center;
     font-weight: 600;
     font-size: 40px;
     color: #FF6161;
}
 span.helloThere{
     color:#FF6161;
     font-weight: 600;
}
 nav.navbar.navbar-expand-lg.navbar-fixed-top.navbar-dark.bg-dark {
     position: fixed!important;
     width: 100%;
     position: relative;
     z-index: 10000;
}
 section.innerHeader{
     display: flex;
     justify-content: space-evenly;
     width: 50%;
     margin: auto;
     align-items: center;
     font-weight: normal;
     font-size: 40px;
     position: relative;
}
 .heroBlurb {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(90%);
}
 header.mainHeader {
     background: url(images/HeroImage.png) 50% bottom no-repeat;
     background-size: cover;
     height: 100vh;
}
 .pageWrapper4 {
     background: url(images/contactBG2.png) 50% bottom no-repeat;
     display: block;
     margin: auto;
     box-shadow: rgba(250, 250, 250, .75);
    /* filter: drop-shadow(0 7px 0.95rem #ccc);
     */
     padding-bottom: 8em;
     background-size: cover;
}
 .innerHeader p {
     font-size: 24px;
     padding: 0 0 0 0;
     margin: 16px 0 0 0;
     text-align: left;
}
 .pageWrapper {
     /*max-width: 1280px;*/
     width: 100%;
     margin: auto;
     margin-top: 5em;
}
 .myWorkPic1 {
     width: 50%;
     margin: auto;
     margin-bottom: 56px;
}
 .myWorkPic1 img {
     width: 75%;
     display: block;
     margin: auto;
}
 .myWork h3, .myWork-dc h3 {
     text-align: center;
     font-size: 32px;
     font-weight: 500;
     margin: 0 0 0 0;
}
 .myWork p, .myWork-dc p {
     text-align: left;
     font-size: 24px;
     margin: 8px 0 8px 0;
     padding: 0;
     line-height: 36px;
}
.myWork-dc h3, .myWork-dc p{
    text-align: left;
}
 ul.projectDetails li {
     font-weight: 500;
     font-size: 16px;
     position: relative;
     color: #FF6161;
     margin-right: 1em;
}
 ul.projectDetails li::before,
 ul.homepageDetails li::before {
     content: "";
     height: 17px;
     width: 4px;
     background: #FF6161;
     position: absolute;
     left: -8px;
     top: 3px;
     bottom: 6px;
     border-radius: 16px;
}

ul.homepageDetails {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0.65em;
}

ul.homepageDetails li {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: #FF6161;
    margin-right: 1em;
}

 ul.projectDetails {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
 ul.projectDetails2 {
     display: block;
     padding: 0 0 20px 0;
}
 ul.projectDetails2 li::before {
     content: "";
     height: 37px;
     width: 4px;
     background: #fff;
     position: absolute;
     left: -8px;
     top: -2px;
     bottom: 6px;
     border-radius: 16px;
}
 ul.projectDetails2 li {
     font-weight: 500;
     font-size: 21px;
     position: relative;
     color: #fff;
     margin-right: 1em;
}
button.viewButton, button.viewButton a,
button.homeviewButton, button.homeviewButton a {
    display: block;
    margin: 0;
    background: none;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 1.15em;
    font-weight: 700;
    transition: all .5s ease;
}

.homeviewButton{padding:0;
}
.navbar-dark .navbar-nav .nav-link:hover, a.nav-link:hover {
    color:#FF6161!important;
    transition: all .5s ease;
}
 button.viewButton a {
     background: #FF6161;
     border: none;
     padding: 24px 40px 24px 34px;
     border: none;
     font-size: 1.15em;
     font-weight: 700;
}
 button.viewButton a:hover {
     background: #ae2f2f;
     transform: scaleX(1.05);
}
 button.viewButton a, .navListItems a {
     transition: all 0.25s ease-in-out;
}
 .navListItems a:hover {
     color: #FF6161;
}
 .aboutMeTxt {
     width: 50%;
}
 .mePic {
     width: 50%;
}
 .mePic img {
     width: 58%;
     height: 58%;  
}
 section.myWork{
     transition: ease all .25s;
}
 section.aboutMe {
     display: flex;
     justify-content: center;
     align-items: center;
     transition: ease all .25s;
}
 .aboutMeTxt {
     width: 80%;
     padding: 0 0 0 6em;
     box-sizing: border-box;
     font-size: 1.25em;
     transition: ease all .25s;
     line-height: 1.75em;
}
 section.aboutMe {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: auto;
     width: 100%;
    /* margin-right: 2em;
     */
}
 .mePic {
     width: 100%;
     display: flex;
     justify-content: space-around;
     transition: ease all .5s;
}
 .aboutMeTxt {
     width: 100%;
     padding: 0 0 0 6em;
     box-sizing: border-box;
     transition: ease all .5s;
}
 section.case-study-innerHeader {
     transition: ease all .5s;
}
 .pageWrapper2 {
     background: #CE6352;
     color: #fff;
     transition: ease all .5s;
}
 .pageWrapper2, .pageWrapper3 {
     padding-bottom: 4em;
     padding-top: 5.75em;
}
 .pageWrapper2 {
     padding-top: 1.25em;
}
 .pageWrapper2 h1 {
     text-align: center;
     font-size: 64px;
     font-weight: 200;
    /* padding: 16px 0 0 0;
     */
     margin: 56px 0 16px 0;
}
 .pageWrapper3 {
     background: #EEB4A2;
     color: #fff#333;
}
 .moreInfo {
     padding: 0 0 0 4em;
     box-sizing: border-box;
}
 .moreInfo h3 {
     font-size: 32px;
     font-weight: 300;
     margin: 0;
}
 .moreTools {
     display: flex;
    /* flex-direction: column;
     */
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
 .tooBlock1 img {
     display: block;
     text-align: center;
    /* align-items: center;
     */
     margin: auto;
     width: 17%;
}
 .tooBlock1 h5 {
     text-align: center;
     color: #fff;
}
 .tooBlock1 {
     width: 33.33%;
}
 .tooBlock1 img {
     margin-bottom: 16px;
}
 .tooBlock1 ul {
     display: block;
     margin: 1em auto;
    /* text-align: center;
     */
     text-align: center;
     padding: 0;
}
 .contactBlock1 img {
     width: 200px;
     display: block;
     margin: 2em auto;
     box-shadow: rgba(250, 250, 250, .75);
     filter: drop-shadow(0 7px 0.95rem #ccc);
}
 .footerInner {
     color: #fff;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .footerInner p {
     text-align: center;
     font-size: 16px;
}
 footer.footerContainer {
     background: #333;
     padding: 0 2em 0 2em;
}
 .pageWrapper4b {
     background: url(images/contactBG2.png) 50% bottom no-repeat;
     padding-bottom: 4em;
     padding: 5.75em 1em 4.75em 1em;
     background: #f5f0e7;
     box-sizing: border-box;
}
 .case-study-pageWrapper3 h1 {
     margin: 0;
     line-height: 56px;
}
 .case-study-pageWrapper3{
    background:#EEB4A2;
}
 .case-study-pageWrapper3 p {
     text-align: left;
     font-size: 24px;
}
 .pageWrapper4b p {
     text-align: center;
}


.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background: #000;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d5cfcf; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    min-width: 50px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



  .row, .homerow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

 
/*============= ANIMATION =========================*/
/*.mainHeader{
     animation: lefttoRight 1.55s forwards;
     animation-timing-function: ease-in-out;
}
 @keyframes lefttoRight {
     from {
         opacity: 0;
         transform: translaty(-5em);
    }
     to {
         opacity: 1;
         transform: translateY(0);
    }
}
 */
 nav.navbar.navbar-expand-lg.navbar-fixed-top.navbar-dark.bg-dark{
     animation: topBottom2 1s forwards;
     animation-timing-function: ease-in-out;
}
 @keyframes topBottom2 {
     from {
         opacity: 0;
         transform: translateY(-5em);
    }
     to {
         opacity: 1;
         transform: translateY(0);
    }
}
 .heroBlurb, .case-study-heroBlurb{
     animation: toptoBottom 2s forwards;
}
 @keyframes toptoBottom{
     from {
         opacity: 0;
         transform: translateY(1em);
    }
     to {
         opacity: 1;
         transform: translatey(4em);
    }
}
 .rightBlock h2{
     animation: fadeIn 2s forwards;
}
 @keyframes fadeIn{
     from {
         opacity: 0;
         transform: translateX(-4em);
    }
     to {
         opacity: 1;
         transform: translateX(0);
    }
}
 .leftBlock img{
     animation: fadeIn 2s forwards;
}
 @keyframes fadeIn{
     from {
         opacity: 0;
         transform: translateX(-8em);
    }
     to {
         opacity: 1;
         transform: translateX(0);
    }
}
 .subtitle h1{
     animation: fadeIn 2s forwards;
}
 @keyframes fadeIn{
     from {
         opacity: 0;
         transform: translateX(-3em);
    }
     to {
         opacity: 1;
         transform: translateX(0);
    }
}
 .taskList ul{
     animation: fadeIn 2s forwards;
}
 @keyframes fadeIn{
     from {
         opacity: 0;
         transform: translateX(-2em);
    }
     to {
         opacity: 1;
         transform: translateX(0);
    }
}
 .myWorkPic1 img{
     scale: 1;
     transition: all, ease-in-out .25s;
     cursor: pointer;
}
 .myWorkPic1 img:hover{
     scale: 1.12;
     transition: all, ease-in-out .25s;
}
 button.navbar-toggler.collapsed {
     background: transparent;
}
 .navbar-toggler{
     border: none;
     background: transparent;
}
 button.navbar-toggler.collapsed:hover {
     background: transparent;
     transition: all, ease-in-out .25s;
}
 button.navbar-toggler:hover {
     background: transparent;
}
 button:focus {
     outline: none;
     outline: none -webkit-focus-ring-color;
}
/*============ CASE STUDY STYLES=================*/
 section.case-study-innerHeader {
     display: flex;
     justify-content: space-evenly;
     width: 60%;
     margin: 0 0 0 1em;
     align-items: center;
     font-weight: normal;
     font-size: 40px;
     position: relative; 
}
 header.case-study-mainHeader, header.case-study-mainHeader-dc,
 header.case-study-mainHeader-CHA {
     background: url(images/DOE-HERO-IMAGE.png) 50% bottom no-repeat;
     background-size: cover;
     height: 100vh;
}
 
header.case-study-mainHeader-dc{
    background: url(images/DC-HERO-IMAGE.png) 50% bottom no-repeat;
    background-size:cover;
} 
header.case-study-mainHeader-CHA{
    background: url(images/CHA-HERO-IMAGE.png) 50% bottom no-repeat;
    background-size:cover;
} 
 h1.case-study-headerBody{
     color: #fff;
     text-align: left;
     margin-bottom: 0;
}
 h1.case-study-heroBlurb {
     text-align: left;
     font-size: 64px;
     font-weight: 200;
    /* padding: 16px 0 0 0;
     */
     margin: 56px 0 40px 0;
}
 .case-study-heroBlurb {
     margin: 0;
    /* position: absolute;
     */
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(40%);
}
 ul.case-study-projectDetails li {
     font-weight: 500;
     font-size: 24px;
     position: relative;
     color: #fff;
     margin-right: 1em;
}
 ul.case-study-projectDetails li::before {
     content: "";
     height: 33px;
     width: 4px;
     background: #fff;
     position: absolute;
     left: -8px;
     top: 0px;
     bottom: 6px;
     border-radius: 16px;
}
 ul.case-study-projectDetails {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: wrap;
     padding: 0 0 0 16px;
     margin: 0;
}
 .case-study-myWorkPic1 {
     width: 75%;
     margin: auto;
     margin-bottom: 56px;
}
 .case-study-myWorkPic1 img {
     width: 90%;
     display: block;
     margin: auto;
}
 h2.case-study-header2 {
     text-align: center;
     font-size: 64px;
     font-weight: 200;
    /* padding: 16px 0 0 0;
     */
     margin: 16px 0 16px 0;
     line-height: 72px;
}
 img.CS-logo {
     width: 250px;
     display: block;
     margin: 2em auto;
}

img.CS-logo-dc {
    max-width: 500px;
    display: block;
    margin: 2em auto;
}
 .case-study-intro{
     display:grid;
     grid-gap:32px;
     width: 90%;
     margin:auto;
     justify-content:center;
     align-content:center;
    /*grid-template-areas: "problem problem" "solution solution" "team tools"*/
}
img.dc-problem {

    display: block;
    margin: auto;
    width: 70%;
}
 .problem{
     grid-column: span 2;
}
 .solution{
     grid-column: span 2;
}
 .team{
     grid-row: span 1;
}
 .tools{
     grid-row: span 1;
}
 .role{
     grid-column: span 2;
}
 .case-study-intro h3 {
     text-align: left;
     font-size: 24px;
     font-weight: 700;
     margin: 0 0 0 0;
     color:#666666;
}

.container.case-study-dc, .container.case-study-CH {
    
    margin: 3em auto;
    max-width: 980px;
}

.container.case-study-CH {
    
    margin: 0 auto;
    max-width: 980px;
}
 .case-study-intro ul, .case-study-dc ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}
 .case-study-intro li, .case-study-dc li {
     list-style-type: none;
     padding: 0 0 8px 0;
     font-size: 24px;
     color:#333;
}

.case-study-dc li {
    list-style-type:disc;
    padding: 0 0 8px 0;
    margin-left: 3em;
    font-size: 16px;
    color: #333;
}

 .role {
     width: 60%;
}
 .researchBlock {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
    /* padding: 0 2em 0 3.85em;
     */
}
 .researchBlock img {
     max-width: 700px;
     width: 100%;
}
 .stepsBlock {
     position: relative;
     width: 25%;
}
 .stepsBlock h2, .stepsBlock-dc h2,
 .stepsBlock-CHA h2 {
     font-weight: 200;
     font-size: 48px;
     margin: 0;
     padding: 0;
     line-height: 48px;
     position: relative;
     display:inline-block;
}

 .stepsBlock h3, .stepsBlock-dc h3, .stepsBlock-CHA h3 {
     font-size: 32px;
     font-weight: 200;
     margin: 16px 0 0 0;
     padding: 0;
     position: relative;
}

.stepsBlock-CHA h2{
    margin-bottom: .4em;
}

.stepsBlock-dc h3 {
    margin: 32px 0 0 0;
 
}

.stepsBlock-dc h2, .stepsBlock-dc h3{
    font-size: 32px;
}
.stepsBlock-dc h3 {
    font-size: 18px;
    font-weight: 500;
}
 .stepsBlock h2::after, .stepsBlock-dc h2::after, 
 .stepsBlock-CHA h2::after  {
     content: "";
     width: 100%;
     position: absolute;
     bottom: -12px;
     height: 6px;
     border-radius: 10px;
     background: #333;
     left: 0;
    /* top: 0;
     */
}

.stepsBlock-CHA p{
font-size: 24px;
margin-top: 8px;
} 

 .stepsBlock h4, .stepsBlock-long h4 {
     text-transform: uppercase;
     font-weight: 300;
     margin: 0;
}
 ul.projectDetails2 li::before {
     content: "";
     height: 37px;
     width: 4px;
     background: #fff;
     position: absolute;
     left: -8px;
     top: -2px;
     bottom: 6px;
     border-radius: 16px;
}
 .case-study-pageWrapper2, .case-study-pageWrapper-dc {
     background: url(images/USER-RESEARCH-BG.png);
     color: #fff;
     transition: ease all .5s;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%,50%;
}
 .case-study-pageWrapper2, .case-study-pageWrapper-dc  {
     padding-bottom: 4em;
     padding-top: 5.75em;
}
 .case-study-pageWrapper2, .case-study-pageWrapper-dc  {
     padding-top: 5.25em;
}
 .case-study-pageWrapper2, .case-study-pageWrapper-dc  {
     color: #333;
     font-size: 24px;
}
.case-study-pageWrapper-dc, .case-study-pageWrapper-CHA {
    background: url(images/DC-SWOOSH\ BG.png);
    background-size: 100%;
    /* background-position: top; */
    background-repeat: no-repeat;
}

.case-study-pageWrapper-CHA {
    background: url(images/CHA-RESEARCH-BLOB-BG1.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
}
 .pageWrapper2 h1 {
     text-align: center;
     font-size: 64px;
     font-weight: 200;
    /* padding: 16px 0 0 0;
     */
     margin: 56px 0 16px 0;
}
 .stepsBlock, .stepsBlock-dc, 
 .stepsBlock-CHA {
     position: relative;
     width: 33.33%;
     justify-content: space-around;
     flex-direction: column;
     align-content: center;
     flex-grow: 3;
     flex-wrap: wrap;
    /*margin-left: 2.75em;
    */
     color: #333;
}

.stepsBlock-CHA {
    width: 75%;
    margin-left: 2.72em;
    
}

.stepsBlock-dc{
    width: 100%;
}
 .case-study-upperBlock, .case-study-upperBlock-dc {
     display: grid;
     padding-left: 2.75em;
     padding-bottom: 2em;
}

/*.case-study-upperBlock-dc{
    background: red;
}*/
 .stepsBlock{
     grid-column: span 2;
}
 .case-study-upperBlock p {
     grid-row: span 2;
     width: 75%;
}
 .case-study-upperBlock-block {
     display: block;
     margin-left: 2.75em;
     padding-bottom: 2em;
}
 .case-study-upperBlock-block p {
     grid-row: span 2;
     width: 75%;
}
 .case-study-upperBlock-block h2 {
     font-weight: 200;
     font-size: 48px;
     margin: 0;
     padding: 0;
     line-height: 48px;
     position: relative;
     display: inline-block;
}
 .case-study-upperBlock-block h2::after {
     content: "";
     width: 100%;
     position: absolute;
     bottom: -12px;
     height: 6px;
     border-radius: 10px;
     background: #333;
     left: 0;
    /* top: 0;
     */
}
 img.blockImage{
     max-width: 1100px;
     width: 60%;
     display:block;
     margin: 3em auto;
}




 #cef7e7 .H-chart {
     display: block;
     margin-left: 2.65em;
}
 .H-chart img{
     max-width:900px;
     width: 100%;
     display: block;
     margin: auto;
}
 .case-study-pageWrapper3 h1 {
     margin: 0;
     line-height: 56px;
}
 .case-study-pageWrapper3 {
     background: #fff;
     padding: 3em 0 0 0;
     box-sizing: border-box;
}
 img.interviewPic {
     width: 75%;
}

img.interviewPic-CH {
    width: 100%;
}
 img.interviewProfile, img.interviewProfile-dc {
     width: 70%;
     display: block;
     margin-top: 24px;
}

img.interviewProfile-dc{
    width:100%;
}
 .case-study-pageWrapper2bb, .case-study-pageWrapper2cc {
     background: url(images/DC-SWOOSH-DARKBLUE.png);
     color: #fff;
     transition: ease all .5s;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%,50%;
}
 .case-study-pageWrapper2cc, .case-study-pageWrapper2cc-doe  {
     background: url(images/DC-PURPLE-BLOCK-BG.png);
     background-size: cover;
     background-position: 50% 50%;
}

.case-study-pageWrapper2cc-doe  {
    background: url(images/AFFINITYMAP-BG.png);
    background-size: cover;
    background-position: 50% 50%;
}

.case-study-pageWrapper3cc-doe  {
    background: url(images/WIREFRAME-BG.png);
    background-size: cover;
    background-position: 50% 50%;
}
 .case-study-pageWrapper2bb, .case-study-pageWrapper2cc, .case-study-pageWrapper2zz {
     padding-bottom: 4em;
     padding-top: 5.75em;
}
 .case-study-pageWrapper2bb, .case-study-pageWrapper2cc {
     padding-top: 6.25em;
}
 .case-study-pageWrapper2bb, .case-study-pageWrapper2cc {
     color: #fff;
     font-size: 24px;
     
}
 .case-study-pageWrapper2zz {
     background: url(images/HI-FIBG-DOE.png);
     color: #fff;
     transition: ease all .5s;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%,50%;
}
/* .case-study-pageWrapper2cc {
     background: url(images/WIREFRAME-BG.png);
     background-size: cover;
     background-position: 50% 50%;
}
 */
 .case-study-pageWrapper2zz {
     padding-bottom: 4em;
     /*padding-top: 5.75em;*/
}
 .case-study-pageWrapper2zz {
     padding-top: 4.25em;
}
 .case-study-pageWrapper2zz {
     color: #fff;
     font-size: 24px;
}
 .stepsBlock-long, .stepsBlock-long2, .stepsBlock-long-dc {
     justify-content: space-around;
     flex-direction: column;
     align-content: center;
     flex-grow: 3;
     flex-wrap: wrap;
     color:#fff;
}

.stepsBlock-long-dc{
    color:#333;
}
 .stepsBlock-long h2, .stepsBlock-long2 h2, .stepsBlock-long-dc h2 {
     font-weight: 200;
     font-size: 48px;
     margin: 0;
     padding: 0;
     line-height: 48px;
     position: relative;
     display: inline-block;
}
 .stepsBlock-long h3, .stepsBlock-long2 h3, .stepsBlock-long-dc h3 {
     font-size: 32px;
     font-weight: 200;
     margin: 16px 0 16px 0;
     padding: 0;
     position: relative;
}
 .stepsBlock-long h2::after, .stepsBlock-long-dc h2::after {
     content: "";
     width: 100%;
     position: absolute;
     bottom: -12px;
     height: 6px;
     border-radius: 10px;
     background: #fff;
     left: 0;
}

.stepsBlock-long-dc h2::after{
    background: #333;
}
 .stepsBlock-long2 h2::after {
     content: "";
     width: 100%;
     position: absolute;
     bottom: -12px;
     height: 6px;
     border-radius: 10px;
     background: #333;
     left: 0;
}
 .stepsBlock-long2 h4 {
     text-transform: uppercase;
     font-weight: 300;
     margin: 0;
}
 #key {
    padding:3em;
     display:flex;
     justify-content: center;
}
 #keyInfo, #keyInfo2, #keyInfo3 ,#keyInfo4 {
    display:none;
     padding: 2em;
}
.centerPiece{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.centerInner{
    display:block;
}
.stick-top{
    position: sticky;
} 

#subMenu .sub-navbar-nav {
    position: relative;
    margin: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.figmaEmbed{
    display: flex;
    justify-content: center;
    
    margin-top: 0;
    align-items: center; 
}

.jumbotron, .jumbotron-affinity, .jumbotron-compete  {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f4f9f9;
    border-radius: 0.3rem;
}

.jumbotron-affinity{
    padding: 3.75rem;
    background: url(images/CHA-AFFINITY-MAP-BG.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.jumbotron-compete {
    padding: 3.75rem;
    background-color:#dbf5fd;
    background-repeat: no-repeat;
    background-size: cover;
}


.jumbotron-research{
    background: url(images/CHA-RESEARCH-BLOB-BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.75rem;
}

 
.jumbotron-affinity img.interviewPic-CH,
.jumbotron-compete img.interviewPic-CH{
width: 100%;
display: block;
margin: auto;
padding: .75em 0 1em 0;
} 
  

/*======= THE NEXT PROJECTS CONTAINER=========*/


    /* Image Columns */
        
    .col1 {
        background-image: url(images/GREENGLOBE.png);
        background-repeat: none;
        background-size: cover;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-position: 0 -24px;
       
    } 
        .col2 { 
            background-image: url(images/DC-TN.png);
            background-repeat:none;
            background-size:cover;
            border-radius: 16px;
        background-repeat: no-repeat;
        background-position: center;
        }
        .col3 {
            background-image: url(images/SB-TN.png);
            background-repeat:none;
            background-size:85%;
            border-radius: 16px;
        background-repeat: no-repeat;
        background-position: center;
        }


        .col4 { 
            background-image: url(images/CH-TN.png);
            background-repeat:none;
            background-size:75%;
            border-radius: 16px;
        background-repeat: no-repeat;
        background-position: center;
        }


        .col1, .col2, .col3, .col4 {
          
            margin: 0 1em 2em 0;
        }



        .col1.p-0.m-3, .col2.p-0.m-3, .col3.p-0.m-3, .col4.p-0.m-4 {
            border-radius: 16px;
        }
         
        /* Image To Text On Hover */
        
        .hoverText {
            background: #00000080;
            opacity: 0;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            height: 300px;
            display: flex;
            align-items: center;
            align-content: center;
            text-align: center;
            justify-content: center;
            border-radius:16px;
        }

        


       .hoverText h3 {
            color: #fff;
            font-family: poppins;
            font-weight: 200;
        }
        
         .hoverText:hover {
            opacity:1;
        }

        .container.container-projects {
            max-width: 100%;
        }

/*============ MEDIA QUERIES=================*/
 @media (max-width: 1273px) {
     section.innerHeader {
         width: 60%;
    }
}
 @media (max-width: 1294px) {
     .case-study-heroBlurb {
         top: 50%;
         -ms-transform: translateY(14%);
         transform: translateY(14%);
    }
}

@media (min-width: 1200px){
.container .container-projects{
    max-width: 100%;
}
}

 @media (max-width: 1066px) {
     section.innerHeader {
         width: 70%;
    }
     section.aboutMe {
         flex-direction: column;
    }
}
 @media (max-width: 1020px) {
     .moreInfo {
         padding: 0;
         box-sizing: border-box;
         margin: auto;
         display: flex;
         flex-direction: column;
    }
     .moreInfo h3{
         text-align:center;
         line-height: 40px;
    }
     .tooBlock1 img {
         width: 37%;
    }
     .mePic img {
         width: 50%;
         margin-bottom: 2em;
    }
     .aboutMeTxt {
         padding: 0 0 0 2em;
    }
     section.aboutMe {
         width: 85%;
    }
}
 @media (min-width: 992px){
     .navbar-expand-lg .navbar-nav .nav-link {
         padding-right: 3.5rem!important;
    }
     li.nav-item {
         margin-bottom: 8px;
    }
}

@media (max-width:991px){
    ul.socialNavLinks {
     
        padding: 0;
     
    }

    #subMenu .sub-navbar-nav {
       
        height: auto;
        flex-direction: column;
        
  
    }
    li.nav-item {
        margin-bottom: 1em;
    }
 
}

 @media (max-width: 920px) {
     section.innerHeader {
         width: 90%;
    }
     img.logo {
         width: 50px;
         height: 100%;
    }
     section.case-study-innerHeader {
         width: 100%;
    }
}
 @media (max-width: 800px) {
     section.innerHeader {
         width: 90%;
         padding: 0 2em 0 2em;
    }
     .myWorkPic1 img {
         width: 100%;
    }
     .heroBlurb {
         margin: 0;
         position: absolute;
         top: 48%;
         -ms-transform: translateY(-48%);
         transform: translateY(40%);
        /* padding: 0 2em 0 2em;
         */
         line-height: 48px;
         text-align: center;
    }
     .moreTools {
         display: flex;
        /* flex-direction: column;
         */
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
        /* flex-direction: column;
         */
    }
     .aboutMeTxt {
         width: 90%;
         padding: 0 0 0 2em;
    }
     section.artWork {
         width: 100%;
         flex-direction: column;
         align-items: center;
         padding: 8px 0 6em 8px;
    }
}


@media (max-width: 767px){
    .col1, .col2, .col4 {
    
        background-size: 100%;
    }
    .col3{
        background-size:85%;
    }

}

 @media (max-width: 599px){
     .tooBlock1 {
         width: 90%;
         margin-bottom: 2em;
    }
     .tooBlock1 img {
         width: 70px;
    }
     ul.projectDetails2 {
         display: block;
         padding: 0 0 20px 0;
         text-align: center;
    }
     section.case-study-innerHeader {
         margin: 0 1em 0 1em;
    }
     section.myWork {
         padding: 0 2em 0 2em;
         box-sizing: border-box;
    }
     .myWorkPic1 {
         width: 100%;
    }
     .moreInfo{
         width: 83%;
    }
}
 @media (max-width: 500px){
     ul.projectDetails2 li::before {
         content: "";
         left: 28px;
    }
     .heroBlurb {
         -ms-transform: translateY(-48%);
         transform: translateY(25%);
    }
     ul.projectDetails2 li::before {
         display:none;
    }
     ul.projectDetails2 li{
         margin:0;
    }
}
 @media (max-width: 400px){
     .mePic img {
         width: 100%;
         margin-bottom: 2em;
    }
     h1 {
         margin: 0;
    }
     .aboutMeTxt {
         width: 100%;
         padding: 0;
    }
}
 